<!DOCTYPE html>
<html>
<head><title>New Movie</title></head>
<body>
<h1>Add new Movie</h1>
<form method="post" action="/movies/create">
<table>
  <tr>
    <td><label for="title">Title:</label></td>
    <td><input type="text" name="title"></td>
  </tr>
  <tr>
    <td><label for="title">Director:</label></td>
    <td><input type="text" name="director"></td>
  </tr>
  <tr>
    <td><label for="title">Year:</label></td>
    <td><input type="text" name="year"></td>
  </tr>
  <tr>
    <td><input type="submit"></td>
  </tr>
</table>
</form>
</body>
</html>

